// Mantine Custom Styles

:root[data-mantine-color-scheme='dark'] {
  body {
    background-color: #0d141a;

    .mublinLogo {
      h1,h2,h3 {
        color: white;
      }
    }
  }
  --mantine-color-anchor: #c9c9c9;
  --mantine-color-text: #ffffff;
}

:root[data-mantine-color-scheme='light'] {
  body {
    background-color:rgb(247, 247, 248);

    .mublinLogo {
      h1,h2,h3 {
        color: black;
      }
    }
    .mantine-Carousel-control {
      background-color: #d4d4d4;
    }
  }
  --mantine-color-anchor: #222222;
  // .mantine-Badge-root {
  //   --badge-bg: #6b6b6b;
  //   background-color: #6b6b6b;
  // }
}

:root[data-mantine-color-scheme='dark'] {
  .mantine-TextInput-input,.mantine-Input-input,.mantine-NativeSelect-input {
    background-color: #090e12;

    option {
      background-color: #0d141a;
    }
  }
}

:root[data-mantine-color-scheme='dark'] {
  body {
    .mantine-Card-root.mublinModule {
      background-color: #161b21;
      border: none;
      box-shadow: 0 1px 2px 0 rgba(27, 29, 52, 0.05);
    }
    .mantine-Paper-root.mublinModule {
      background-color: #161b21;
      border: none;
      box-shadow: 0 1px 2px 0 rgba(27, 29, 52, 0.05);
    }
    .mantine-Divider-label {
      &::after {
        border-top-color: #222222;
      }
    }
    .mantine-Accordion-control:where(:not(:disabled, [data-disabled])):hover {
      background-color: transparent;
    }
    .mantine-Table-thead:where([data-sticky]) {
      background-color: #161b21;
    }
    .mantine-NavLink-root:hover {
      background-color: #10141a;
    }
    .mantine-Carousel-control {
      background-color: #161616;
    }
    .mantine-Divider-root {
      border-top-color: #1f262c;
    }
    .mantine-Modal-content, .mantine-Modal-header {
      background-color: #090e12;
    }
    .mantine-Modal-overlay, .mantine-Overlay-root {
      background: var(--overlay-bg, rgba(0, 0, 0, 0.83));
    }
    .mantine-Anchor-root {
      color: #FFFFFF;
    }
    .mantine-Badge-root.availability {
      --badge-bg: #1f262c;
      background-color: #1f262c;
      color: #FFFFFF;
    }
  }
}

.splide__pagination {
  top: 102%;

  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.splide__pagination__page.is-active {
  background: #353535;
}

.splide__pagination__page:hover {
  background: #969696;
}

.mantine-focus-auto:focus-visible {
  outline: none;
  outline-offset: 0;
}

.mantine-Skeleton-root {
  opacity: 0.6;
}

form.writeNewPost {
  .mantine-Textarea-input:focus-within, .mantine-Textarea-input:focus {
    outline: none;
    --input-bd: transparent;
  }
  
  .mantine-NativeSelect-input {
    -webkit-tap-highlight-color: transparent;
  
    &:focus, .m_8fb7ebe7:focus-within {
      outline: none;
      --input-bd: transparent;
    }
  }
}