@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// Disable text selection for small devices (like an app)
// @media only screen and (max-width:700px) {
//   html, body, div, span, applet, object, iframe,
//   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
//   a, abbr, acronym, address, big, cite, code,
//   del, dfn, em, img, ins, kbd, q, s, samp,
//   small, strike, strong, sub, sup, tt, var,
//   b, u, i, center,
//   dl, dt, dd, ol, ul, li,
//   fieldset, form, label, legend,
//   table, caption, tbody, tfoot, thead, tr, th, td,
//   article, aside, canvas, details, embed, 
//   figure, figcaption, footer, header, hgroup, 
//   menu, nav, output, ruby, section, summary,
//   time, mark, audio, video {
//     user-select: none;
//   }
// }

.mublinLogo {
  text-decoration: none;

  h3 {
    font-optical-sizing: auto;
    font-weight: 800!important;
  }
}

:root[data-mantine-color-scheme='dark'] {
  body {
    background-color: rgb(14, 14, 14);

    .mublinLogo {
      h3 {
        color: white;
      }
    }
  }
  --mantine-color-anchor: #c9c9c9;
}

:root[data-mantine-color-scheme='light'] {
  body {
    background-color:rgb(247, 247, 248);

    .mublinLogo {
      h3 {
        color: black;
      }
    }
  }
  --mantine-color-anchor: #222222;
}

a {
  text-decoration: none;
}

/* Custom App Styles */
.mantine-Badge-label {
  font-weight: 500;
}

.mantine-Tabs-list {
  &:before {
    border: none;
  }
}

.point {
  cursor: pointer;
}

.gearProductImage {
  background-color: #FFF;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  flex: 0 0 130px;
  min-width: 0;
  // margin-right: 5px;
  padding: 6px 10px 6px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customFileUpload {
  text-align: center;
  margin: 20px 0 20px 0;
}