@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;500;600&display=swap');

body {
    margin: 0;
    // background-color: rgb(18, 18, 18);
    background-color: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    font: inherit;
}

button,
select {
    text-transform: none;
}