.floatingMenu {
  background-color: #f7f7f8;
  -moz-box-shadow: 0 4px 4px rgba(72, 72, 72, 0.2);
  -webkit-box-shadow: 0 4px 4px rgba(72, 72, 72, 0.2);
  box-shadow: 0 4px 4px rgba(72, 72, 72, 0.2);
}

.profilePage {
  .mantine-Accordion-content {
    padding: 0px
  }
  .mantine-Accordion-chevron {
    margin-inline-end: 6px;
    margin-inline-start: 0;
  }
  .mantine-focus-auto:focus-visible {
    outline: none;
    outline-offset: none;
  }

  .embla.roles {
    overflow: hidden;
    width: 89%;

    .embla__container {
      display: flex;

      .embla__slide {
        cursor: default;
        user-select: none;
        display: flex;
        gap: 2px;
        flex: 0 0 auto;
        min-width: 0;
        margin-right: 1px;
      }
      @media (min-width: 768px) {
        .embla__slide {
          margin-right: 3px;
        }
      }
    }
  }

  .embla.strengths {
    overflow: hidden;

    .embla__container {
      display: flex;

      .embla__slide {
        cursor: default;
        user-select: none;
        flex: 0 0 auto;
        min-width: 0;
        margin-right: 18px;
      }
      @media (min-width: 768px) {
        .embla__slide {
          margin-right: 18px;
        }
      }
    }
  }

  .embla.gear {
    overflow: hidden;

    .embla__container {
      display: flex;

      .embla__slide {
        cursor: default;
        user-select: none;
        background-color: #FFF;
        border: 1px solid #dee2e6;
        border-radius: 8px;
        flex: 0 0 130px;
        min-width: 0;
        // margin-right: 5px;
        padding: 6px 10px 6px 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:not(:first-child) {
          margin-left: 6px;
        }

        p {
          color: #000;
        }
      }
      @media (min-width: 768px) {
        .embla__slide {
          margin-right: 4px;
        }
      }
    }
  }

  .embla.projects {
    overflow: hidden;

    .embla__container {
      display: flex;

      .embla__slide {
        // background-color: #FFF;
        // border: 1px solid #dee2e6;
        // border-radius: 8px;
        flex: 0 0 100px;
        // min-width: 0;
        // margin-right: 5px;
        // padding: 6px 10px 6px 10px;
        // text-align: center;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;

        // &:not(:first-child) {
        //   margin-left: 6px;
        // }

        // p {
        //   color: #000;
        // }
      }
      @media (min-width: 768px) {
        .embla__slide {
          margin-right: 3px;
        }
      }
    }
  }

  .embla.partners {
    overflow: hidden;

    .embla__container {
      display: flex;

      .embla__slide {
        background-color: #FFF;
        border: 1px solid #dee2e6;
        border-radius: 8px;
        flex: 0 0 130px;
        min-width: 0;
        padding: 1px 1px 7px 1px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:not(:first-child) {
          margin-left: 6px;
        }

        p {
          color: #000;
        }
      }
      @media (min-width: 768px) {
        .embla__slide {
          margin-right: 4px;
        }
      }
    }
  }

  .rolesList {
    width: 97%;
    scrollbar-width: none;
    overflow: scroll;

    div {
      cursor: default;
      user-select: none;
      width: fit-content;
      white-space: nowrap;
    }

    &::-webkit-scrollbar, &:hover { 
      scrollbar-width: 2px;
    }

    .imgToWhite {
      filter: brightness(0) invert(1);
    }
  }

  .mantine-Badge-section {
    margin-right: 2px;
  }
}