.floatingMenu {
  background-color: #f7f7f8;
  -moz-box-shadow: 0 4px 4px rgba(72, 72, 72, 0.2);
  -webkit-box-shadow: 0 4px 4px rgba(72, 72, 72, 0.2);
  box-shadow: 0 4px 4px rgba(72, 72, 72, 0.2);
}

:root[data-mantine-color-scheme='dark'] {
  .floatingMenu {
    background-color: #0c1319;
    box-shadow: none;
    border-bottom: 1px solid #161616;
  }
}

.profilePage {
  .mantine-Accordion-content {
    padding: 0px
  }
  .mantine-Accordion-chevron {
    margin-inline-end: 6px;
    margin-inline-start: 0;
  }
  .mantine-focus-auto:focus-visible {
    outline: none;
    outline-offset: none;
  }

  .carousel-roles {
    width: 96%;

    &:not(:last-child) {
      margin-right: 16px;
    }
  
    .carousel-item {
      cursor: default;
      user-select: none;
      overflow: hidden;
    }
  }

  .carousel-project, .carousel-gear {
    cursor: default;
    user-select: none;

    &:not(:last-child) {
      margin-right: 19px;
    }
  }

  .carousel-strengths {
    cursor: default;
    user-select: none;

    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  .carousel-gear {
    text-align: center;
  }

  .rolesList {
    width: 97%;
    scrollbar-width: none;
    overflow: scroll;

    div {
      cursor: default;
      user-select: none;
      width: fit-content;
      white-space: nowrap;
    }

    &::-webkit-scrollbar, &:hover { 
      scrollbar-width: 2px;
    }

    .imgToWhite {
      filter: brightness(0) invert(1);
    }
  }

  .mantine-Badge-section {
    margin-right: 2px;
  }
}

.modalAvatarExpanded {
  .mantine-Modal-content {
    background-color: transparent!important;
  }
}