.profilePage {
  .embla.strengths {
    overflow: hidden;

    .embla__container {
      display: flex;

      .embla__slide {
        flex: 0 0 auto;
        min-width: 0;
        margin-right: 12px;
      }
      @media (min-width: 768px) {
        .embla__slide {
          margin-right: 4px;
        }
      }
    }
  }

  .embla.gear {
    overflow: hidden;

    .embla__container {
      display: flex;

      .embla__slide {
        background-color: #FFF;
        border: 1px solid #dee2e6;
        border-radius: 8px;
        flex: 0 0 130px;
        min-width: 0;
        margin-left: 5px;
        margin-right: 5px;
        padding: 10px 10px 10px 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          color: #000;
        }
      }
      @media (min-width: 768px) {
        .embla__slide {
          margin-right: 4px;
        }
      }
    }
  }

  .rolesList {
    width: 97%;
    scrollbar-width: none;
    overflow: scroll;

    div {
      width: fit-content;
      white-space: nowrap;
    }

    &::-webkit-scrollbar, &:hover { 
      scrollbar-width: 2px;
    }

    .imgToWhite {
      filter: brightness(0) invert(1);
    }
  }
}