footer.menuMobile {
  position: fixed;
  bottom: 0;
  background-color: #FFF;
  height: 70px;
  width: 100%;
  z-index: 250;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  
    div {
      -webkit-tap-highlight-color: transparent;
      color: #3a3a3a;
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: 300;
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      align-items: center;
      position: relative;
  
      svg {
        width: 26px;
        height: 26px;
        stroke-width: 1.7;
      }

      &.plus {
        opacity: 1;

        &.active:before {
          content: "";
          display: block;
          border-top: 2px solid #7950f2;
          position: absolute;
          top: -11px;
          left: 0;
          width: 100%;
        }

        svg {
          stroke-width: 2.3;
          width: 48px;
          height: 48px;
        }
      }

      &.active {
        opacity: 1;

        &:before {
          content: "";
          display: block;
          border-top: 2px solid #272727;
          position: absolute;
          top: -21px;
          left: 0;
          width: 100%;
          z-index: 251;
        }

        svg {
          stroke-width: 2.3;
        }
      }
    }
  }
}

:root[data-mantine-color-scheme='dark'] {
  footer.menuMobile {
    background-color: #0c1319;

    > div {
      div {
        color: #b6b6b6;

        &.active {
          opacity: 1;

          &:before {
            border-top-color: #bfbfbf;
          }
        }
      }
    }
  }
}