footer.menuMobile {
  position: fixed;
  bottom: 0;
  background-color: #FFF;
  height: 64px;
  width: 100%;
  z-index: 99;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
  
    div.item {
      color: #3a3a3a;
      cursor: pointer;
      padding: 0 10px;
      font-size: 1.6rem;
      font-weight: 300;
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      align-items: center;
      padding-top: 14px;
  
      svg {
        stroke-width: 1.7;
      }
      
      p {
        font-weight: 300;
      }
  
      &.active {
        opacity: 1;
        border-top: 2px solid #3a3a3a;
        padding-top: 12px;

        svg {
          stroke-width: 2.0;
        }
        
        p {
          font-weight: 500;
        }
      }
  
      span {
        font-size:10px;
      }
    }

    div.avatar {
      margin-top: 14px;
      flex-basis: 100%;
      padding-left: 16px;

      .mantine-Avatar-root {
        cursor: pointer;
      }
    }
  }
}

:root[data-mantine-color-scheme='dark'] {
  footer.menuMobile {
    background-color: #000;

    > div {
      div {
        color: #b6b6b6;

        &.active {
          opacity: 1;
          border-top-color: #bfbfbf;
        }
      }
    }
  }
}