:root[data-mantine-color-scheme='light'] {
  #dashboard {
    #desktopSidebar {
      background-color: #fff;
      border-right: 1px rgb(216, 216, 216) solid;
    }
  }
}

:root[data-mantine-color-scheme='dark'] {
  #dashboard {
    #desktopSidebar {
      background-color: #060a0d;
      border-right: 1px #121b23 solid;
    }
  }
}