.wrapper {
  position: relative;
  box-sizing: border-box;
  background-color: #f1f3f5;
}

.wrapperFeatured {
  position: relative;
  box-sizing: border-box;
  background-color: #170941!important;
  color: white;
}

.wrapperFeaturedMini {
  position: relative;
  box-sizing: border-box;
  /* background-color: #371a45!important; */
  /* color: white; */
}

.inner {
  position: relative;
  padding-top: rem(60px);
  padding-bottom: 70px;

  @media (max-width: 768px) {
    padding-bottom: 20px;
    padding-top: rem(30px);
  }
}

.innerSmall {
  position: relative;
  padding-top: rem(40px);
  padding-bottom: rem(30px);

  @media (max-width: 768px) {
    padding-bottom: 30px;
    padding-top: 18px;
  }
}

.textWithImage {
  display: flex;
}

.featuredContainer {
  background-color: #371a45;
}

.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: rem(55px);
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
  padding: 0 0 18px 0;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

  @media (max-width: 768px) {
    font-size: rem(42px);
    line-height: 1.2;
  }
}

.description {
  margin-top: var(--mantine-spacing-xl);
  font-size: rem(24px);

  @media (max-width: 768px) {
    font-size: rem(18px);
  }
}

.controls {
  margin-top: calc(var(--mantine-spacing-xl) * 2);

  @media (max-width: 768px) {
    margin-top: var(--mantine-spacing-xl);
  }
}

.control {
  height: rem(54px);
  padding-left: rem(38px);
  padding-right: rem(38px);

  @media (max-width: 768px) {
    height: rem(54px);
    padding-left: rem(18px);
    padding-right: rem(18px);
    flex: 1;
  }
}

.gridFeaturedItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.gridFeaturedItem svg {
  margin-right: 12px;
}